.mobile,
.tablet,
.pc {
  display: none;
}
/* Thiết bị rất nhỏ (điện thoại, 739px trở xuống) */
@media only screen and (max-width: 46.1875rem) {
  .mobile {
    display: block;
  }
}

/* Thiết bị nhỏ (máy tính bảng dọc và điện thoại lớn, 740px trở lên) */
@media only screen and (min-width: 46.25rem) and (max-width: 63.94rem) {
  .tablet {
    display: block;
  }
}

/* Thiết bị trung bình (máy tính bảng ngang, 1024px trở lên) */
@media only screen and (min-width: 64rem) {
  .pc {
    display: block;
  }
}
