section#container {
  width: 80%;
  margin: 0 auto;
  background-color: green;
}
section.san-pham {
  display: flex;
}

section.san-pham img {
  order: 1;
}

section.san-pham h2 {
  order: 2;
}
section.san-pham .price {
  order: 3;
}
section.san-pham .description {
  order: 4;
}
